{% extends "base.html" %}
{% block body %}

<h1 class="text-center">Mask-RCNN DETECTION</h1>
<p class="text-sm-left bg-dark text-white"><font size="5">　Samples</font></p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="{{url_for('static', filename= "img/hito2.jpeg")}}" height="150" >
    </div>
    <div class="col-3">
      <img src="{{url_for('static', filename= "img/hito2_mask.png")}}" height="150" >
    </div>
    <div class="col-3">
      <img src="{{url_for('static', filename= "img/home1.jpeg")}}" height="150" >
    </div>
    <div class="col-3">
      <img src="{{url_for('static', filename= "img/home1_mask.png")}}" height="150" >
    </div>
  </div>
  <div class="row">
    <div class="col-3 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">Origin</font></p>
    </div>
    <div class="col-3 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">After</font></p>
    </div>
    <div class="col-3 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">Origin</font></p>
    </div>
    <div class="col-3 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">After</font></p>
    </div>
  </div>
</div>

<p class="text-sm-left bg-dark text-white"><font size="5">　Let's try</font></p>

<form method="post" action="/mask_rcnn_send" enctype="multipart/form-data" >
  <input type="file" id="img_file" name="img_file" class="col-sm-4">
  <input type="submit" value="UPLOAD" class="btn btn-primary btn-lg" >
</form>

<div style="margin-top:10px; margin-right:5px; margin-left:63%; margin-bottom:10px">
  <form method="post" action="/mask_rcnn_detection">
    <button type="submit" name = "image" value="{{ img_name }}" class="btn btn-secondary btn-lg">Mask-RCNN Detection</button>
  </form>
</div>

<style>
    .imagePreview {
        width: 80%;
        height: 200px;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        display: inline-block;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="imagePreview" style="margin-left:10%">
        {% if img_name%}
        <p><img src="{{url_for('static', filename= "uploads/" + img_name)}}" height="150" align="middle" ></p>
        {% endif %}
      </div>
    </div>
    <div class="col-6">
      <div class="imagePreview" style="margin-left:10%">
        {% if mask_rcnn_url %}
        <p><img src="{{ mask_rcnn_url }}" height="150"  align="middle"></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">Origin</font></p>
    </div>
    <div class="col-6 text-center">
      <p class="font-weight-bold" ><font size="5" font color= "#000000">After Detection</font></p>
    </div>
  </div>
</div>

{% if warning %}
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> 許可されていない拡張子、もしくはファイルが指定されてません
</div>
{% endif %}

<br></br>

{% endblock %}
